In [12]:
from sklearn.datasets import load_iris
import pandas as pd

In [3]:
dataset = load_iris()

In [14]:
# 판다스로 데이터 확인하기
labels = pd.DataFrame(dataset.target)
labels.columns=['labels']
data = pd.DataFrame(dataset.data)
data.columns=dataset['feature_names']
data = pd.concat([data,labels],axis=1)

data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),labels
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [10]:
X = dataset['data']
Y = dataset['target']  # label - 학습에 사용X

In [9]:
print("Shape of X :", X.shape)
print("Shape of Y :", Y.shape)

Shape of X : (150, 4)
Shape of Y : (150,)